#topBar {
    display: flex;
    justify-content: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid lightgray;
}

#topBar span img{
    display: inline-block;
    height: 1em;
    width: 1em;
    color: lightgray;
}

#topBarDetails {
    width: 77%;
    display: flex;
    justify-content: right;
}

#topBarDetails span {
    margin-left: 0.8em;
}

#mailIcon {
    margin-bottom: -2px;
}

#header {
    display: flex;
    justify-content: center;
    /* column-gap: 7rem; */
    height: 160px;
}

#header .navLink{
    font-size: 16px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 62px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration-color: rgba(68, 116, 206, 0);
    transition: text-decoration 0.2s linear;
}

#header .navLink:hover {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(68, 116, 206, 0.6);
}

#homeLogoLink {
    display: flex;
    transition: opacity 0.1s linear;
    margin-right: 140px;
}

#homeLogoLink img{
    align-self: center;
    width: 276px;
    min-height: 1px;
}

#homeLogoLink:hover {
    opacity: 0.6;
}

#btnNav {
    display: none;
    font-size: 17px;
    font-weight: 300;
}

#btnNav span {
    font-size: 13px;
    font-weight: 300;
}

#nav-links {
    display: flex;
    justify-content: center;
    column-gap: 7rem;
}

#logoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}