
#productListNav {
    display: flex;
    margin-top: 40px;
    height: 65px;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    color: rgb(21, 21, 21);
}

#productListNav-center {
    display: flex;
    width: 35%;
    gap: 15px;
    justify-content: center;
}

#productListNav a {
    text-decoration-color: transparent;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;

    transition: text-decoration-color 0.2s linear;
}

#productListNav .activeLink {
    color: #945dae;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    text-decoration-color: #945dae;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: #945dae;
    -moz-text-decoration-color: #945dae;
}

.productList {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 300px);
    justify-content: center;
}

.productList .productList-center {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.productItem {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1200px;
    height: 450px;
    margin-bottom: 30px;
}

.productItem h2 {
    color: rgb(100, 101, 101);
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 35px;
}

.productItem img {
    width: 570px;
    height: 400px;
    display: block;
}

.productDescription {
    width: 390px;
}

.productDescription ul{
    margin: 0;
    margin-left: 35px;
    padding: 0;
    list-style: none;
    font-size: 36px;
}

.productDescription ul li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #43A7DF; /* Change the color */
    font-weight: 300; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.productDescription ul span{
    font-size: 16px;
    margin-left: -0.5em;
    display: block;
    margin-top: -1.85em;
}

#pagination-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination button {
    padding: 0;
    background: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border-radius: 0;
    background: #ffffff;
    color: #151515;
    box-shadow: none;
    width: 41px;
    border: 1px solid #6bbae8;
    height: 41px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pagination button:hover {
    border: 1px solid #99c4dd;
    background: #f1f1f1;
}

.pagination .curr-page {
    border: 1px solid rgb(20, 20, 20);
}

.pagination .curr-page:hover {
    border: 1px solid rgb(20, 20, 20);
    background: #ffffff;
}
