

#services-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

#services-content {
    width: 1170px;
    display: flex;
    flex-direction: column;
}

#services-content p {
    font-size: 16px !important;
    line-height: 1.5 !important;
    font-weight: 300;
}

#services-content h1{
    align-self: center;    
    line-height: 42px;
    font-size: 42px;
    font-weight: 100;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 40px;
}

#service-types {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 4em;
    margin-bottom: 5em;
}

#service-types img {
    width: 570px;
    height: 427px;
}

#service-types h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

#process-breakdown {
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
    margin-top: 2.5em;
    gap: 2.5em;
}

#process-breakdown div{
    display: flex;
    flex-direction: column;
    width: 340px;
    text-align: center;
}

#process-breakdown span {
    width: 230px;
    height: 230px;
    box-shadow: 0 0 14px 2px #bbbbbb;
    display: inline-block;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    border-radius: 280px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

#process-breakdown span:hover {
    box-shadow: 0 0 8px 8px #bbbbbb;
    background-color: #6bbae8;
}

#process-breakdown span:hover img {
    opacity: 0.9;
    filter: brightness(0) invert(1);
}

#process-breakdown img{
    opacity: 0.6;
    width: 80px;
    height: 80px;
    margin-top: 75px;
}

#process-design img {
    margin-left: 10px;
    margin-top: 70px;
}

/* #process-manufacture img {
    
}

#process-products img {
    
} */

#process-breakdown h6 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(100, 101, 101);
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}