


@media only screen and (max-width: 1190px) {

    #homepage-services div{
        width: 295px;
    }

    .home-prod-img, .home-prod-img img, .home-prod-img div {
        width: 306px;
        height: 193px;
    }
}

@media only screen and (max-width: 975px) {

    #homepage-services div{
        width: 220px;
    }

    .home-prod-img, .home-prod-img img, .home-prod-img div {
        width: 233px;
        height: 147px;
    }

}

@media only screen and (max-width: 750px) {

    #homepage-services {
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
    }

    #homepage-services div{
        width: 80vw;
    }

    .prod-row {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin-bottom: 3em;
    }

    .home-prod-img, .home-prod-img img, .home-prod-img div {
        width: 80vw;
        height: calc(80vw / 1.585);
    }

    #home-section2 .linkButton {
        margin-top: 0.5em;
    }

    #client-center p {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 700px) {

    :root {
        --heights: 70vw !important;
    }

    #homepage #slider-gunabrosLogo {
        position: absolute;
        top: 6vw;
        left: 19vw;
        height: 24vw;
    }
    
    #homepage #main-slide-text {
        position: absolute;
        top: 34vw;
        left: 19vw;
        text-shadow: rgb(0 0 0) 2px 2px 3px;
        text-align: center;
        font-size: 4vw;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        width: auto;
        height: auto;
        padding: 0px;
        border-width: 0px;
        margin-left: 0px;
        margin-top: 1vw;
        opacity: 1;
        filter: none;    
        font-weight: 300;
        font-family: "Roboto", sans-serif;
    }
    
    #homepage .slider-content .linkButton {
        top: 48vw;
        left: 38vw;
        position: absolute;
        border: none;
        background-color: #0088cc;
        border-radius: 0.63vw;
        /* padding: 9px 14px; */
        font-size: 2vw;
        line-height: normal;
        color: #ffffff;
        text-shadow: 0 -0.065vw 0 rgb(0 0 0 / 25%);
        padding: 1.543vw 2.85vw 1.67vw 2.85vw;
        letter-spacing: 0.065vw;
    }
    
    #homepage #second-main-slide-text, #homepage #second-main-slide-text2 {
        top: 14vw;
        left: 11vw;
        position: absolute;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        filter: none;
        width: auto;
        height: auto;
        padding: 0px;
        border-width: 0px;
        margin-left: 0px;
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
        font-size: 3.6vw;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
    }
    
    #homepage #second-main-slide-text2 {
        top: 18vw;
    }
    
    #homepage #second-main-slide-link {
        position: absolute;
        top: 23vw;
        left: 11vw;
    }

    #homepage .slides.active #slider-gunabrosLogo {
      opacity: 0;
      animation: transitionInLogo 1.5s;
      animation-delay: var(--slideContentDelay);
      animation-fill-mode: forwards;
    }

    #homepage .slides.active #main-slide-text {
    opacity: 0;
    animation: transitionInText 1.5s;
    animation-delay: var(--slideContentDelay);
    animation-fill-mode: forwards;
    }

    #homepage .slides.active #firstSlide .linkButton {
    opacity: 0;
    animation: transitionInButton 1.5s;
    animation-delay: var(--slideContentDelay);
    animation-fill-mode: forwards;
    }

    #homepage .slides.active #secondSlide h2 {
    opacity: 0;
    animation: transitionInSubText 1.5s;
    animation-delay: var(--slideContentDelay);
    animation-fill-mode: forwards;
    }

    #homepage .slides.active #secondSlide .linkButton {
    opacity: 0;
    animation: transitionInSubButton 1.5s;
    animation-delay: var(--slideContentDelay);
    animation-fill-mode: forwards;
    }
    
}
