


@media only screen and (max-width: 1160px) {
    .productItem img {
        width: 455px;
        height: 341px;
    }

    .productItem {
        height: 390px;
    }
}

@media only screen and (max-width: 940px) {
    .productItem img {
        width: 345px;
        height: 258px;
    }

    .productItem {
        height: 290px;
    }
}

@media only screen and (max-width: 790px) {

    .productItem img {
        width: 100%;
        height: unset;
    }

    .productItem {
        flex-direction: column;
        height: unset;
        margin-bottom: 6em;
    }

    .productList .productList-center {
        width: 80%;
    }

}