@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

/* Import styles */
@import "header.css";
@import "subheader.css";
@import "footer.css";
@import "products.css";
@import "about.css";
@import "contact.css";
@import "services.css";
@import "home.css";


html, body {
    scroll-behavior: smooth; 
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #646565;
	font-size: 13px;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color:#646565;
    transition: all 0.1s linear;
}

a:hover {
    color:rgba(148, 148, 148, 0.847)
}

/* Onload transitions */

@keyframes transitionIn {
    from {
        opacity: 0;
        /* transform: rotateX(-10deg); */
    }

    to {
        opacity: 1;
        /* transform: rotateX(0); */
    }
    
}

.transitionInOnload {
    animation: transitionIn 0.75s;
}

.transitionInOnloadLong {
    animation: transitionIn 3s;
}

