.SubHeader {
    display: flex;
    justify-content: left;
    background-color: #262262;
    height: 124px;
    width: 100%;
}

.SubHeader h1 {
    width: 65%;
    margin-left: 5%;
    font-size: 52px;
    letter-spacing: 1px;
    color: rgba(255,255,255, 1);
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.Breadcrumbs {
    display: flex;
    justify-content: left;
    background-color: rgb(239, 241, 242);;
    height: 72px;
    width: 100%;
    color: #646565;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.Breadcrumbs #breadcrumb-center{
    margin-left: 5%;
    width: 65%;
    height: 72px;
}

.breadcrumb-item {
    display: inline;
}

.Breadcrumbs .breadcrumb-active {
    color: #151515;
}

.Breadcrumbs span {
    margin-top: 29px;
    margin-right: 10px;
    display: inline-block;
}