


@media only screen and (max-width: 1210px) {

    #services-content {
        width: 940px;
    }

    #service-types img {
        width: 455px;
        height: 341px;
    }
}

@media only screen and (max-width: 990px) {

    #services-content {
        width: 720px;
    }

    #service-types img {
        width: 345px;
        height: 258px;
    }

    #process-breakdown {
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }

    #service-types h1 {
        font-size: 20px;
    }

}

@media only screen and (max-width: 750px) {

    #service-types {
        flex-direction: column;
        align-items: center;
    }

    #service-types h1 {
        font-weight: 300;
        font-size: 20px;
    }

    #service-types img {
        width: 90%;
        height: unset;
    }

    #service-types div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #services-content p {
        width: 90%;
    }

    #services-content{
        align-items: center;
    }

}